#wpm-auto-translate-btn p, #wpm-auto-translate-term-btn p{
	margin: 5px;
}
#wpm-auto-translate-btn p:before, #wpm-auto-translate-term-btn p:before{
	color: #fff;
	animation: rotation 2s infinite linear;
}