assets/blocks/language-switcher/node_modules
assets/blocks/language-switcher/src
assets/blocks/language-switcher/package-lock.json
assets/blocks/language-switcher/package.json
assets/blocks/language-switcher/package.json
assets/blocks/package-lock.json
assets/blocks/language-switcher/.editorconfig